name: CI

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build and Release APK
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '11.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '1.22.x'
      - run: flutter pub get
      - run: flutter build apk

      - name: Create an APK
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/flutter-apk/*.apk"
          token: ${{ secrets.GITHUB_TOKEN }}
